.error{
    width: 300px;
    color: #961919;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px #000000;
    font-size: 1.5em;
}
.no-results{
    width: 300px;
    color: #ffffff;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px #000000;
}
/*.pics{
    /*margin-bottom: 10px;*/
    /*float: left;
}*/
/*.grid-item{
    float: left;
}*/
.grid-sizer{
    width: 10%;
}

@media screen and (max-width: 767px){
    .grid-sizer{
        width: 15%;
    }
}
@media screen and (max-width: 575px){
    .grid-sizer{
        width: 50%;
    }
}