.error{
    width: 300px;
    color: #961919;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px #000000;
    font-size: 1.5em;
}
.no-results{
    width: 300px;
    color: #ffffff;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px #000000;
}
/*.pics{
    margin-bottom: 10px;
}*/
/*.grid-item{
    float: left;
    width: 20%;
}

@media screen and (max-width: 793px){
    .grid-item{
        width: 33.33333%;
    }
}
@media screen and (max-width: 575px){
    .grid-item{
        width: 50%;
    }
}*/
