.pic-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10% 35% 10% 35%;
    background-color: #cecece99;
}
.preview-contents{
    position: relative;
}
.preview-pic{
    z-index: 1001;
    max-height: 800px;
}
.preview-buttons{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1002;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}
.preview-button{
    background-color: #ffffff;
    border-radius: 5px;
}
.preview-button a{
    color: #000000;
}
.preview-button a:hover{
    background-color: #4B9CD3;
    color: #ffffff;
    text-decoration: none;
}
.preview-button:hover{
    background-color: #4B9CD3;
    color: #ffffff;
    cursor: pointer;
}
.preview-button:active{
    outline: none;
}
.preview-button:focus{
    outline: none;
}
.details{
    position: absolute;
    min-width: 200px;
    top: 40px;
    left: 0;
    border: 1px solid #e6e6e6;
    padding: 0;
    box-shadow: 0 0 2px 2px #b3b3b3;
    background-color: #ffffff99;
    font-size: 0.8em;
}
.align-right{
    text-align: right;
    max-width: 150px;
    word-wrap: break-word;
}
@media screen and (max-width: 1300px){
    .pic-container{
        padding: 10% 32% 10% 32%;
    }
}
@media screen and (max-width: 1000px){
    .pic-container{
        padding: 10% 30% 10% 30%;
    }
}
@media screen and (max-width: 700px){
    .pic-container{
        padding: 8% 25% 8% 25%;
    }
}
@media screen and (max-width: 500px){
    .pic-container{
        padding: 5% 10% 5% 10%;
    }
}
