<div class="preview-container" *ngIf="seePhoto">
  <section  class="container">
    <div class="row button-container">
      <div class="preview-buttons col-12">
        <button class="preview-button" (click)="closePrev()">Close</button>
        <button *ngIf="downloadable" class="preview-button"><a [href]="urlFull" alt="Download image" download>Download</a></button>
      </div>
    </div>
    <div class="row">  
      <div class="preview-pic-container col-lg-8 col-md-6 col-12">
        <img class="img-fluid" [src]="url" alt="Photo preview" />
      </div>
      <div class="col-lg-4 col-md-6 col-12">  
        <div class="details">
          <ul>
              <li><strong>Name: </strong>{{photo.imageName}}</li>
              <li><strong>Description: </strong>{{photo.description}}</li>
              <li><strong>Contributor: </strong>{{photo.contributor}}</li>
              <li><strong>Location: </strong>{{photo.location}}</li>
              <li><strong>Category: </strong>{{photo.category}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
