.font-sizer{
    font-size: 1rem;
    background: #fff url("./../assets/imgs/curacao-graffiti.jpg") center/cover no-repeat fixed;
    padding-bottom: 4em;
}
#login{
    position: absolute;
    top: 2px;
    right: 2px;
}
.message{
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.message a{
    text-decoration: none;
    color: #fff;
    background-color: #4B9CD3;
    padding: 2px;
    border-radius: 2px;
    margin-left: 2px;
}
.message a:hover{
    color: #000;
}
.message a:active{
    background-color: #fff;
    box-shadow: 0 0 0 2px #4B9CD3;
}
.name{
    text-align: center;
    font: italic small-caps bold 4em cursive;
    color: #fff;
}
.color-1{
    color: #FF9797;
}
.color-2{
    color: #03F3AB;
}
.color-3{
    color: #BBBBFF;
}
.color-4{
    color: #EDEF85;
}
.background{
    background-color: #4B9CD3;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

/*search*/
.search-container{
    margin-top: 20px;
}

/*submit-form*/
h2{
    text-align: center;
    font: italic small-caps bold 3em cursive;
    color: #4B9CD3;
    margin-top: 1em;
}
.submit-pic{
    margin-top: 1em;
    border: 2px solid #4B9CD3;
    background-color: #fff;
}
.input-form{
    padding: 1em;
}
.preview{
    padding: 2em;
}
@media screen and (max-width: 596px){
    .font-sizer{
        font-size: 0.8rem;
    }
    .name{
        font-size: 2.2em;
    }
}
