<!--photo preview-->
<app-preview-pics *ngIf="hideMain" [photo]="previewPhoto" [seePhoto]="seePhoto" (closePreview)="closePrev($event)"></app-preview-pics>
<div class="font-sizer" *ngIf="!hideMain" >
    <div id="login">
      <app-login>...Loading</app-login>
    </div>

    <div class="background">
      <h1 class="name">My <span class="color-1">G</span><span class="color-2">r</span><span class="color-3">o</span><span class="color-4">o</span><span class="color-1">v</span><span class="color-2">y</span> Photo Repository</h1>
        <section class="container search-container">
          <div class="row">
            <div class="col-12">
              <app-search (query)="newPhotoQuery($event)">...Loading</app-search>
            </div>
          </div>
          <div class="row">
            <div class="col-12 search-results-container">
                  <app-search-results [photos]="photos" (previewPhoto)="seePreview($event)">...Loading</app-search-results>
            </div>
          </div>
        </section>
    </div>
    <div class="message">
      <span>For full access, please request a login at <a href="https://www.larry-hastings.com/contact" target="_blank">larry-hastings.com</a></span>
    </div>
      <h2>Contribute Photos</h2>
      <section class="container submit-pic">
          <div class="input-form">
              <app-input-form (newPicCreated)="newPicCreated($event)">...Loading</app-input-form>
          </div>
      </section>
</div>


