.img-form-container{
    position: relative;
}
#img-upload-container{
    background-color: #4B9CD332;
    min-height: 200px;
    color: #4B9CD3;
    padding: 2em;
}
.small-divider{
    width: 100%;
    border: solid 0.3em #4B9CD3;
}
p{
    font-size: 1em;
    color: #4B9CD3;
}
.error-message{
    color: red;
    font-size: 0.7em;
}
button{
    background-color: #4B9CD3;
}
button:hover{
    background-color: white;
    border-color: #4B9CD3;
    cursor: pointer;
}
.status-message{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #66ff6680;
    text-align: center;
    font-size: 2em;
    padding-top: 200px;
}
.status-message button{
    border-radius: 20px;
    font-size: 0.7em;
    padding: 0.5em;
}
.status-message p{
    color: #ffffff;
    text-shadow:    -1px -1px 0 #000000,
                1px -1px 0 #000000,
                -1px 1px 0 #000000,
                1px 1px 0 #000000;
}
#error-message{
    background-color: #ff000080;
}
#progress-message{
  background: transparent;
}
